<!DOCTYPE html>
<html>
    <head>
        <title>Admin Website SMA YAPITA</title>
         <!-- Latest compiled and minified CSS -->
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
        <!--Link to css-->
        <link rel="stylesheet" type="text/css" href="view/global.css">
        <!-- jQuery library -->
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>

        <!-- Latest compiled JavaScript -->
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    </head>
    <body>
        <div class="jumbotron text-center">
            <h2>Halaman Admin</h2>  
             
        </div>
        <div id="Container">
            <div class="sidebar">
                <ul id="nav">
                    <li><a href="#"></a></li>
                </ul>
            </div>
            <div class="content">
                
            </div>
        </div>
         
                   
    </body>
</html>