/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : Nov 10, 2016, 1:04:28 PM
    Author     : user
*/

@import url('https://fonts.googleapis.com/css?family=Roboto');
body{
    font-family: 'Open Sans';
}
div#container{
    width: 100%;
    margin: 0 auto;
}
.sidebar{
    width: 250px;
    height: 100%;
    background-color: #e74c3c;
    float: left;
}
.content{
    width: auto;
    height: 500px;
    margin-left: 250px;
    
}
ul#nav{
    
}
ul#nav li{
    list-style: none;
}
ul#nav li a{
    color: #ccc;
    display: block;
    padding: 10px;
    font-size: 1.2em;
    border-bottom: 1px solid #0A0A0A;
    -webkit-transition: 0.2s;
    -moz-transition: 0.2s;
    -o-transition: 0.2s;
    transition: 0.2s;
}
ul#nav li a:hover{
    background-color: #030303;
    color: #fff;
    padding-left: 30px;
}
ul#nav li a.selected{
    background-color: #030303;
    color: #fff;
}
